* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: #ddd;
  color: #111;
  font-size: 16px;
  line-height: 24px;
}

body {
  font-family: sans-serif;
  margin: 0 auto;
  max-width: 620px;
  padding: 24px 0;
  width: 93.75%;
}

h1 {
  font-size: 2.25em;
  margin-bottom: 24px;
}

h2 {
  font-size: 1.5em;
  margin-bottom: 24px;
}

img {
  display: block;
  width: 100%;
  margin-bottom: 24px;
}
